* {
  margin: 0;
  padding: 0;
}
header {
  background-image: url("images/banner/banner3.png");
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: end;
  padding: 0 60px;
}
.banner {
  text-align: right;
  color: white;
  width: 50%;
}
.banner h1 {
  font-size: 60px;
}
.button {
  padding: 5px 15px;
}
.first-section {
  display: flex;
  align-items: center;
}
.second-section h2 {
  text-align: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  width: 100%;
  /* background-color: aquamarine; */
  justify-content: center;
  gap: 80px;
}
.third-section {
  background-image: linear-gradient(
      to right,
      rgba(5, 98, 248, 0.801),
      rgba(255, 255, 255, 0.5)
    ),
    url("images/watch.png");
  margin: 40px 80px;
  height: 200px;
  padding: 0 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* align-items: center; */
  display: flex;
  /* text-align: right; */
  flex-direction: column;
  justify-content: center;
}
.h2-third {
  color: aliceblue;
}
.button {
  width: fit-content;
}
.last {
  margin-top: 10px;
  padding: 10px;
  background-color: deepskyblue;
  color: white;
  border: 0px;
}
.icon {
  display: inline-flex;
}
.footer-information {
  background-color: black;
  color: white;
  background-size: cover;
  display: flex;
  gap: 200px;
  padding: 50px;
}
.footer-first-section {
  width: 40%;
  padding-left: 100px;
}
#email {
  padding: 10px;
}
.description-section1 {
  padding: 0px 60px;
}
